img {
    width: 810px;
    clear: both;
    display: block;
    margin: auto;
}
.picOut {
    width: 100%;
    clear: both;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
}
.selectOut {
    height: 70px;
}
.button {
    height: 50px;
    width: 600px;
    display:block;
    margin:0 auto
}
.buttonOut {
    height: 90px;
    width: 600px;
    display:block;
    margin:0 auto
}
.follow-div {
    position: fixed;  /* 固定定位 */
    top: 10px; /* 距离窗口底部 10 像素 */
    right: 10px; /* 距离窗口右侧 10 像素 */
    background-color: dodgerblue; /* 背景颜色为蓝色 */
    padding: 15px 20px; /* 内边距，上下 15 像素，左右 20 像素 */
    z-index: 666; /* 设置较高的层级，确保按钮在最上层显示 */
    overflow-wrap: break-word; /* 断句时，不会把长单词挪到下一行，而是直接进行单词内的断句 */
}
.aOut {
    font-size: 41px;
}
.dOut {
    font-size: 41px;
}